body{
    background-color:brown ;
}


#s1 {
    margin: top -720px; ;
    width: 1600px;
    height: 768px;
    /* border: 5px solid black; */
}
h2{
    margin-top: -800px;
}
#de5{
    display: flex;
    justify-content: space-between;
}
h2{
    color: rgb(8, 166, 50);
}
*{
    text-decoration: none;
}

.logo-img {
    position:relative;
    left: 24px;
    bottom:-15px;
}
#s{
    color: beige;
    font-size: 67px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#s1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
#s2{
background-color: rgb(0, 255, 128);
}
h3{
    color: azure;
    padding-right: 50px;
}
a{
    color: azure;
    padding-right: 50px;
}
#s3 {
    padding-right: 1px;
}

    

#a1{
    color: aqua;
    text-decoration-color: rgb(0, 255, 81);
    text-align: top ;
}
#a3{
    padding-right: 1264px;
}

footer{
    padding-bottom: 200px;
    margin-bottom: 0px;
    background-color:black;
    color: beige;
}
#div1{
    width: 200px;
    
    
}
h1{
    color: blanchedalmond;
    padding-left: 50px;
    
}
#abc{
    display: inline;
    background-color: rgb(113, 32, 189);
}
#div3{
    background-color: brown;
    color: blanchedalmond;
    display: inline;
}

